<div>
  <button (click)="onAddButton()" *ngIf="!showForm">Add Pizza</button>
  <div *ngIf="showForm">
    <div id="form">
      <label>Name:</label>
      <input [(ngModel)]="pizza.name">
      <label>Description:</label>
      <input [(ngModel)]="pizza.description">
      <label>Price:</label>
      <input [(ngModel)]="pizza.price">
      <br>
      <button (click)="onSaveButton()">Save Pizza</button>
    </div>
  </div>
  <label *ngIf="!showForm">{{message}}</label>
</div>